
# MacOS
.DS_Store
# Windows
desktop.ini
# VS Code
.vscode
.positai

# demo
raw/
metaSDT/
abcpp/

# temp
~*
*.tmp*/

# build
*build*/
*.dll

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
dist/

# R
.Rproj.user
.Rhistory
*.RData
.Ruserdata
R/src/*.o

# IDE
*.swp
*.swo

# codex/antigravity
.codex/
.antigravity/