import(Rcpp)
useDynLib(multiRL, .registration = TRUE)

import(doRNG)

export(process_1_input)
export(process_2_behrule)
export(process_3_record)
export(process_4_output_r)
export(process_4_output_cpp)
export(process_5_metric)

export(func_alpha)
export(func_beta)
export(func_gamma)
export(func_delta)
export(func_epsilon)
export(func_zeta)

export(TD)
export(RSTD)
export(Utility)

export(estimation_methods)
export(estimate_0_ENV)
export(estimate_1_LBI)
export(estimate_1_MLE)
export(estimate_1_MAP)
export(estimate_2_SBI)
export(estimate_2_ABC)
export(estimate_2_RNN)
export(engine_ABC)
export(engine_RNN)

export(run_m)
export(rcv_d)
export(fit_p)
export(rpl_e)

exportMethods(summary)
S3method(plot, multiRL.replay)
