export(func_alpha)
export(func_beta)
export(func_gamma)
export(func_delta)
export(func_epsilon)

export(process_1_input)
export(process_2_behrule)
export(process_3_record)
export(process_4_output)
export(process_5_metric)

export(run_m)
exportMethods(summary)
